body {
	background-color: #ffffff;
	text-align: center;
}

.question{
	background-color: aliceblue;
	color: #02030d;
	box-sizing: border-box;
	border: 3px solid #4b52b1;
	margin: 2% 15% 2% 15%;
	
}

textarea
{
	width: 50%;
	border: 3px solid;
	text-align: center;
}

button{
	border: #5b461e;
	background-color: #edc273;
	border-radius: 50%;
	color: rgb(0, 0, 0);
	font-size: 25px;
}

.notif
{
	margin: 3%;
	font-size: 25px;
}